################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AIRelief/bin/Debug
/AIRelief/obj
