<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 700MB (CD700) -->
        <requestLimits maxAllowedContentLength="737280000" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Rewrite HTTP to HTTPS" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
