@model AIRelief.Models.Question

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="order" class="control-label"></label>
                <input asp-for="order" class="form-control" />
                <span asp-validation-for="order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="heading" class="control-label"></label>
                <input asp-for="heading" class="form-control" />
                <span asp-validation-for="heading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maintext" class="control-label"></label>
                <input asp-for="maintext" class="form-control" />
                <span asp-validation-for="maintext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="backvalue" class="control-label"></label>
                <input asp-for="backvalue" class="form-control" />
                <span asp-validation-for="backvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nextvalue" class="control-label"></label>
                <input asp-for="nextvalue" class="form-control" />
                <span asp-validation-for="nextvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correctiontext" class="control-label"></label>
                <input asp-for="correctiontext" class="form-control" />
                <span asp-validation-for="correctiontext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correctionimage" class="control-label"></label>
                <input asp-for="correctionimage" class="form-control" />
                <span asp-validation-for="correctionimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option1" class="control-label"></label>
                <input asp-for="Option1" class="form-control" />
                <span asp-validation-for="Option1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option2" class="control-label"></label>
                <input asp-for="Option2" class="form-control" />
                <span asp-validation-for="Option2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option3" class="control-label"></label>
                <input asp-for="Option3" class="form-control" />
                <span asp-validation-for="Option3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option4" class="control-label"></label>
                <input asp-for="Option4" class="form-control" />
                <span asp-validation-for="Option4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option5" class="control-label"></label>
                <input asp-for="Option5" class="form-control" />
                <span asp-validation-for="Option5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option6" class="control-label"></label>
                <input asp-for="Option6" class="form-control" />
                <span asp-validation-for="Option6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option7" class="control-label"></label>
                <input asp-for="Option7" class="form-control" />
                <span asp-validation-for="Option7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option8" class="control-label"></label>
                <input asp-for="Option8" class="form-control" />
                <span asp-validation-for="Option8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
