@{
    ViewData["Title"] = "Frustrated";
}
<div class="bigBox">

    <div class="adviceBox">
        <h1 id="Title" class="title">Frustration is the worst!</h1>
        <h2 id="Text" class="textMain">Can't do anything and it's driving you wild? It's like a buffet just out of your reach!</h2>
        <div class="imgBoxList next">
            <a asp-action="FrustratedThoughtlessness">
                <img src="~/images/thoughtlessness.png" value="110" /><div class="descriptor">Thoughtlessness</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="FrustratedInjustice">
                <img src="~/images/injustice.png" value="120" /><div class="descriptor">Injustice</div>
            </a>
        </div>
        @*<div class="imgBoxList next">
            <a asp-action="FrustratedGeneral">
                <img src="~/images/frustrated.png" value="130" /><div class="descriptor">General</div>
            </a>
        </div>*@           
    </div>

</div>
