@{
    ViewData["Title"] = "Angry";
}
<div class="bigBox">

    <div class="adviceBox">
        <h1 id="Title" class="title">Yes....yes....let the rage flow through you!</h1>
        <h2 id="Text" class="textMain">What has got sand in your vagina today exactly?</h2>
        <div class="imgBoxList next">
            <a asp-action="AngryFamily">
                <img src="~/images/family.png" value="200" alt="family"  /><div class="descriptor">Family</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="AngryFriends">
                <img src="~/images/friends.png" value="220" alt="friends" /><div class="descriptor">Friends</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="AngryWork">
                <img src="~/images/work.png" value="240" alt="work"  /><div class="descriptor">Work</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="AngryPartner">
                <img src="~/images/partner.png" value="260" alt="partner" /><div class="descriptor">Partner/Lover</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="AngryGeneral">
                <img src="~/images/angry.png" value="280" alt="angry" /><div class="descriptor">Other/Actual Sand</div>
            </a>
        </div>
    </div>

</div>
