@{
    ViewData["Title"] = "Thoughtlessness";
}


<div class="bigBox">

    <div class="adviceBox">
        <div class="notButtonsBox">
            <h1 id="Title" class="title">Thoughtlessness</h1>
            <h2 id="Text" class="textMain">What the hell did they do now?! Go explain it calmly to them and try to help the prick to realise what they did and apologise. If this is work or love related maybe read the Work/Partner Angry section first too.</h2>
            <div class="imgBox"><img src="~/images/thoughtlessness.png" /> </div>
        </div>
        <a id="WhichIsYou" asp-action="WhichIsYou" class="forwardButton button glow Next">Continue</a>
    </div>

</div>
