@{
    ViewData["Title"] = "Depressed";
}

@section Scripts {
    <script type="text/javascript">

        $(".Next").click(function () {
            var nextLocation = $(".Next").val();
            if (nextLocation == 1) { window.location.replace('/'); }

            $(".imgBox").remove();

            $.getJSON('@Url.Action("GetNextFix")', { order: nextLocation }, function (nextFix) {

                if (nextFix != null && !jQuery.isEmptyObject(nextFix))
                {
                    console.log(nextFix);
                    $("#Back").show();
                    $("#Title").text(nextFix.heading);
                    $("#Text").text(nextFix.maintext);
                    $(".Next").val(nextFix.nextvalue);
                    $(".Back").val(nextFix.backvalue);

                    node = document.getElementById('Text');

                    // Add an image if it exists
                    if (nextFix.image != null && !jQuery.isEmptyObject(nextFix.image))
                    {
                        node.insertAdjacentHTML('afterend', '<div class="imgBox"><img src="../images/' + nextFix.image + '" /> </div>');
                    }
                }
            });

        });



        $(".Back").click(function () {
            var nextLocation = $(".Back").val();

            $(".imgBox").remove();
            $.getJSON('@Url.Action("GetNextFix")', { order: nextLocation }, function (nextFix) {
                if (nextFix != null && !jQuery.isEmptyObject(nextFix))
                {
                    console.log(nextFix);
                    $("#Back").show();
                    $("#Title").text(nextFix.heading);
                    $("#Text").text(nextFix.maintext);
                    $(".Next").val(nextFix.nextvalue);
                    $(".Back").val(nextFix.backvalue);

                    // Add an image if it exists
                    if (nextFix.image != null && !jQuery.isEmptyObject(nextFix.image))
                    {
                        node.insertAdjacentHTML('afterend', '<div class="imgBox"><img src="../images/' + nextFix.image + '" /> </div>');
                    }
                }
            });

        });


    </script>
}

<div class="bigBox">
    <div class="adviceBox">
        <div class="notButtonsBox">
            <h1 id="Title" class="title">Big cry baby are you?</h1>
            <h2 id="Text" class="textMain">Wah wah wah...fine...here are some steps to cheer your sad ass up. 1. Build a bridge  2. Get over it  3. Go read the Depressed section and consider people who actually have it bad.</h2>
            <div class="imgBox"><img src="~/images/sad.png" /> </div>

        </div>
        <button style="display:none" id="Back" type="submit" value="1" class="backButton button glow pulse Back">Back</button>
        <a id="SadDepressed" asp-action="SadDepressed" class="forwardButton button glow Next">Continue</a>
    </div>

</div>
