@using AIRelief.Models
@using AIRelief.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject AIReliefContext Context
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var appUser = user == null ? null : await Context.Users.FirstOrDefaultAsync(u => u.Email == user.Email);

    var isGroupAdmin = appUser?.AuthLevel == AuthLevel.GroupAdmin;
    var isSystemAdmin = appUser?.AuthLevel == AuthLevel.SystemAdmin;
}

@if (isGroupAdmin || isSystemAdmin)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Administration
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            @if (isGroupAdmin)
            {
                <li><a class="dropdown-item" href="/Admin/GroupAdmin/Index">Group Users</a></li>
                <li><a class="dropdown-item" href="/Admin/GroupAdmin/GroupSettings">Group Settings</a></li>
                <li><a class="dropdown-item" href="/Admin/GroupAdmin/GroupStatistics">Group Statistics</a></li>
            }
            @if (isSystemAdmin)
            {
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/Groups">Manage Groups</a></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/Users">Manage Users</a></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/SystemAdmins">Manage System Admins</a></li>
            }
        </ul>
    </li>
}