@{
    ViewData["Title"] = "About";
}

<div class="bigBox">

    <div class="adviceBox" style="text-align:left;">
        <div class="notButtonsBox" style="width:inherit">
            <h2>@ViewData["Title"]</h2>
            <h3>This site is intended for my use only - don't like it? I don't care! </h3>
            <h3>If you'd like to tell me of your offense in person you can find me at your mother's house. She says hi.</h3>
            <h3>Saying all that if you have actual constructive feedback I'd love to hear it - you can send me an email at blake.m.stone@gmail.com</h3>
            </div>
        </div>
    </div>