@{
    ViewData["Title"] = "Sad";
}
<div class="bigBox">

    <div class="adviceBox">
        <h1 id="Title" class="title">You certainly are sad!</h1>
        <h2 id="Text" class="textMain">That's no good! What's your poison?</h2>
        <div class="imgBoxList next">
            <a asp-action="SadHeartbreak">
                <img src="~/images/heartbreak.png" value="110" /><div class="descriptor">Heartbreak</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="SadLoss">
                <img src="~/images/Loss.png" value="120" /><div class="descriptor">Loss</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="SadDepressed">
                <img src="~/images/depressed.png" value="130" /><div class="descriptor">Depressed</div>
            </a>
        </div>
        <div class="imgBoxList next">
            <a asp-action="SadGeneral">
                <img src="~/images/sad.png" value="140" /><div class="descriptor">General Cry-baby</div>
            </a>
        </div>       
    </div>

</div>
